*{
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  
  body{
      position: relative;
      display: grid;
      place-content: center;
      gap: 10px;
      height: 100vh;
      overflow: hidden;
      background: #14659871 linear-gradient(to bottom right,#14659871, #ffffff7b);
  }
  
  .container{
      position: relative;
      top: calc(50% - 6.5cm);
      width: 8cm;
      height: 13cm;
      transform: scale(1.07);
      background-color: white;
      box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
  }
  .top{
      position: absolute;
      width: 100%;
      height: 6cm;
      background: #1c82c4;
      overflow: hidden;
  }
  
  .top img{
      position: absolute;
      top: -25px;
      opacity: 0.3;
  }
  .top::after{
      position: absolute;
      content: "";
      bottom: -5px;
      height: 0;
      width: 0;
      border-top: 80px solid rgba(0, 0, 0, 0);
      border-left: 4.1cm solid rgb(255, 255, 255);
      border-right: 4.1cm solid rgb(255, 255, 255);
  }
  
  .top::before{
      position: absolute;
      content: "";
      bottom: 7px;
      height: 0;
      width: 0;
      border-top: 80px solid rgba(0, 0, 0, 0);
      border-left: 4.1cm solid rgba(255, 255, 255, 0.299);
      border-right: 4.1cm solid rgba(255, 255, 255, 0.299);
  }
  
  .center{
      position: relative;
      height: 6cm;
      width: 8cm;
      transform: scale(0.9);
      z-index: 100;
  }
  .circle{
      position: absolute;
      left: calc(50% - 2.15cm);
      top: 2.5cm;
      display: flex;
      place-content: center;
      height: 4cm;
      width: 4cm;
      border-radius: 50%;
      background-color: rgb(89, 123, 123);
      border: 6px solid #1c82c4;
      overflow: hidden;
  }
  
  .outline{
      position: absolute;
      left: calc(50% - 2.35cm);
      top: 2.28cm;
      height: 4.7cm;
      width: 4.7cm;
      border-radius: 50%;
      background-color: white;
      border: .5px solid rgba(0, 0, 0, 0.1);
  }
  .circle img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .before{
      position: absolute;
      top: calc(80% - 1cm);
      left: calc(50% - 3cm);
      content: "";
      height: 2cm;
      width: 6cm;
      border-radius: 37px;
      background-color: #1c82c4;
  }
  .after{
      position: absolute;
      top: calc(78% - 2.5cm);
      left: calc(50% - 2.49cm);
      content: "";
      height: 5cm;
      width: 5cm;
      border-radius: 50%;
      transform: scale(1.08);
      background-color: #00334d;
  }
  .bottom{
      position: relative;
      display: grid;
      place-content: center;
      text-align: center;
  }
  .bottom::after{
      position: absolute;
      top: -10px;
      content: "";
      height: 50px;
      width: 100%;
      background: rgb(255, 255, 255);
      z-index: 1;
  }
  .bottom h1{
      margin: 0;
      margin-top: 45px;
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
      transform: scaleY(1.2);
      color: #00334d;
  }
  .name{
      display: flex;
      gap: 7px;
      justify-content: center;
  } 
  h1#prenom{
      color: #1c82c4;
      width: fit-content;
  }
  .namcont span{
      color: #146698;
      font: bold 15px tahoma;
      /* font-weight: bold; */
  }
  .contact span{
      font-weight: bold;
  }
  .contact{
      margin-top: 15px;
  }
  .item{
      position: relative;
      left: -10px;
      display: flex;
      align-items: center;
      height:  30px;
      margin: 2px;
      padding: 2px;
      margin-left: 20px;
  }
  .item i{
      box-sizing: border-box;
      background-color: #41a0da;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      padding-top: 6.5px;
      color: white;
  }
  .item p{
      font: 600 16px;
      font-size: 16px;
      font-weight: 600;
      color: #41a0da;
      letter-spacing: -0.5px;
      margin-left: 3px;
  }
  .item span{
      color: #00334d;
  }
  
  .logo{
      margin: auto;
      width: 2cm;
      height: 2cm;
  }
  .logo img{
      position: relative;
      top: 10px;
      left: calc(50% - 1.5cm);
      width: 3cm;
      margin: 0;
      padding: 0;
      margin: auto;
  }
  
  
  .buttons{
      position: relative;
      left: calc(50% - 160px);
      top: 20px;
      display: flex;
      gap: 10px;
  }
  
  .download{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 150px;
      background-color: #f8fcff;
      border-radius: 5px;
      gap: 5px;
      color: #0a5889;
      box-shadow: 0 0 10px ;
  }
  .fa-download{
      font-size: 25px; 
  }
  
  .adresses-intro{
      position: fixed;
      padding-top: 6px;
      bottom: 0px;
      color: white;
      width: 100%;
      height: 25px;
      z-index: 100;
      font-size: 12px;
      background: #005a93;
      box-sizing: border-box;
  }
  /* INDEX PAGE */   /* INDEX PAGE */   /* INDEX PAGE */ 
  
  .formcontainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: fit-content;
      perspective: 300px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .formcontainer .left{
      position: relative;
      padding-right: 60px;
      box-sizing: border-box;
      width: 400px;
      height: 450px;
      background: #0f6ca7 ;
      perspective: 300px;
  }
  
  .left .description{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .description img{
      position: relative;
      width: 70%;
      top: 20px;
  }
  
  .services{
      position: absolute;
      top: -63px;
      right: -25px;
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 0 80px;
  }
  .services img{
      width: 50px;
      height: 50px;
      /* box-shadow: 0 0 10px #009dff; */
      z-index: 1;
  }
  
  .hologram{
      position: absolute;
      left: calc(42.5% - 140px);
      top: 220px;
      height: 230px;
      width: 280px;
      margin: auto;
      transform-origin: bottom;
      background-color: #0a5889;
      color: #ffffff;
      text-align: center;
  }
  .hologram::before{
      position: absolute;
      content: "";
      top: -1px;
      left: 0;
      border-top: 25px solid #0f6ca7;
      border-right: 20px solid transparent;
  }
  .hologram::after{
      position: absolute;
      top: 0;
      content: "";
      right: 0;
      border-left: 20px solid transparent;
      border-top: 25px solid #0f6ca7;
  }
  
  .partener{
      position: relative;
      top: -8px;
      font-size: 16px ;
      font-weight: 600;
      letter-spacing: -.4px;
      color: #ffffffe0;
      text-shadow:  0 0 5px rgba(255, 255, 255, 0.2);
  }
  
  .para{
      position: relative;
      top: -10px;
      font-size: 14px;
      text-align: justify;
      padding: 0 20px;
      line-height: 1;
      color: #cfdde6;
      text-shadow: 0 0 30px white;
  }
  .para span{
      display:block;
      text-align: center;
      padding: 10px ;
  }
  .create-badge{
      display: grid;
      place-content: center ;
      width: 70%;
      margin: auto;
      background-color: #045c92;
      border-radius: 5px;
      line-height: 1;
      height: 70px;
      box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.73), inset -2px -2px 10px rgba(255, 255, 255, 0.508);
  }
  
  
  .left h1{
      box-sizing: border-box;
      position: absolute;
      top: 25px;
      left: 60px;
      font:600 20px "Poppins", sans-serif;
      margin: 0;
      padding: 0px;
      text-align: center;
      color: #0094df;
  }
  
  span#cursor{
      color: #146698;
      animation: anime .2s linear infinite; 
  }
  
  @keyframes anime {
      0%, 50%, 100%{
          opacity: 0;
      }
      25%, 75%{
          opacity: 1;
      }
  }
  .formcontainer .passHelp{
      position: absolute;
      display: grid;
      right: 20px;
      top: 11px;
      height: 427px;
      width: 440px;
      background-color: #00334d7f;
      background-color: #04364f3a;
      transform-origin: top;
      transition: .2s ease-in-out;
      transform: rotateX(-125deg);
      opacity: 0;
  }
  
  .passHelp img{
      position: relative;
      width: 60%;
      margin: auto;
  }
  .passHelp .img-close{
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 3px;
      border-radius: 5px;
      bottom: 15px;
      right: calc(50% - 40px);
      height: 35px;
      width: 90px;
      background: white;
      box-shadow: 0 0 20px #25343bd5;
      color: #0684d2;
  }
  
  .img-close i{
      position: relative;
      padding-top: 2px;
      font-size: 14px;
  }
  .img-close::after{
      position: absolute;
      left: 27px;
      content: "";
      height: 35px;
      width: 3px;
      background: #0b6fae;
  }
  p.intro{
      position: relative;
      bottom: 15px;
      text-align: center;
      margin: 0;
      padding-top: 7px;
      font-size: 15px;
      line-height: 1.1;
      height: 40px;
      background-color: #0a5889;
      color: #ffffff;
      text-shadow: 0 0 30px rgb(0, 0, 0);
  }
  .formcontainer .left p#complete{
      position: relative;
      top: 50%;
      text-align: center;
      margin: auto;
      font: 18px arial;
  }
  .form-cont{
      position: relative;
      width: fit-content;
      height: fit-content;
      background-color: white;
  }
  form{
      position: relative;
      display: grid;
      place-content: center;
      width: 400px;
      height: 450px;
      gap: 9px;
      box-sizing: border-box;
      padding:  0 90px 30px 0;
      font-family: Arial, Helvetica, sans-serif;
      transform-origin: left;
      transform: rotateY(0deg);
      animation: form .2s ease-in-out 1s 1 forwards;
  }
  
  @keyframes form {
      100%{
          transform: rotateY(0deg); 
      }
  }
  
  form::before{
      position: absolute;
      content: "";
      top: 11px;
      height: 95%;
      width: 60px;
      background-color: white;
      left: -60px;
  }
  
  form::after{
      position: absolute;
      content: "";
      left: -60px;
      top: 11px;
      height: 95%;
      width: 380px;
      border-left: 60px solid white;
      box-shadow: 0 0 15px #419fda7c;
      z-index: -1;
  }
  form .title{
      font-size:31px;
      text-align: center;
      color: #146696d0;
      font-weight: 600;
      margin: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .info.yanyuma input{
      padding: 0;
      margin-left: 3px;
  }
  
  
  input{
      position: relative;
      box-sizing: border-box;
      height: 33px;
      padding-top: 7px;
      border: none;
      background-color: #14659817;
      width: 240px;
      color: black;
      padding-left: 12px;
      outline: none;
  }
  
  .in-photo{
      position: relative;
      top: 500%;
  
  }
  
  .in-photo::after{
      position: absolute;
      content: "";
      left: -10px;
      bottom: 147px;
      height: 45px;
      width: 260px;
      box-shadow: 0 0 5px ;
      border-radius: 5px;
      color: #009dff67;
  }
  .img-info{
      cursor: pointer;
      position: relative;
      left: 83%;
      bottom: 153px;
      border: 1px solid #146696;
      font-size: 14px;
      padding: 5px 12px;
      background-color: #c0e8ff;
      color: #043148;
      box-sizing: border-box;
      height: 33px;
      width: 40px;
      z-index: 100;
  }
  
  input[type="file"]{
      top: -31px;
      left: 3px;
      background: none;
      padding-right: 45px;
  }
  
  label[for="btn"]{
      display: none;
  }
  
  label[for="image"]{
      cursor: pointer;
      position: absolute;
      left: calc(50% - 120px);
      bottom: 152px;
      display: grid;
      place-content: center;
      gap: 0;
      height: 32px;
      width: 100px;
      border: 1px dashed #00334d;
      background: white;
      z-index: 1;
  }
  
  label[for="image"] div{
      padding-top: 3px;
      margin-left: 12px;
  
  }
  
  label[for="image"] i{
      background: none;
      color: #146696;
      padding-top: 3px;
      margin-left: 6px;
  }
  
  input::placeholder{
      color: black;
  }
  
  label{
      color: #00334d;
  }
  
  .info{
      position: relative;
  }
  
  p.codeError{
      position: absolute;
      top:33px;
      padding-left: 25px;
      /* left: 65px; */
      margin: 0;
      font-size: 10px;
      text-align: center;
      color: rgba(255, 0, 0, 0.886);
  }
  form .info span{
      position: absolute;
      font-size: 13px;
      left: 10px;
      top: 7px;
      transition: .2s ease-in-out;
      z-index: -1;
  }
  
  .info input[type="text"]:focus + span,
  .info input[type="text"]:valid + span{
      font-size: 9px;
      top: 1px;
      color: rgba(255, 0, 0, 0.535);
      color: #0f6ca7;
      z-index: 1;
      left: 12px;
  }
  
  .butn{
      position: relative;
      width: 240px;
  }
  button{
      cursor: pointer;
      position: relative;
      top: -8px;
      margin: 20px 0;
      height: 40px;
      background: #146698 linear-gradient( #146698,#41a0da);
      color: white;
      border: none;
      border-radius: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  form .hider{
      position: absolute;
      width: 200px;
      height: 30px;
      /* background-color: green; */
      bottom: 177px;
      left: calc(40% - 100px);
       
  }
  
  form p{
      color: #00334d;
      letter-spacing: -.7px;
      text-align: center;
  }
  p.error{
      position:absolute;
      left: calc(40% - 100.49px);
      bottom: 141px;
      display: none;
      font-size:10px;
      color: red;
      text-align: center;
      margin: 0;
      letter-spacing: 0;
      z-index: 100;
      animation: message 1s ease-in-out 1 forwards;
  }
  
  @keyframes message {
      0%, 50%, 99%{
          opacity: 0;
      }
      25%, 75%, 100%{
          opacity: 1;
      }
  }
  
  .social{
      position: absolute;
      bottom: 23px;
      left: calc(42% - 80.5px);
  }
  
  .social span.follow{
      display: block;
      text-align: center;
      width: 100%;
      font-size: 10px;
  }
  .social-icon{
      position: relative;
      display: flex;
      gap: 10px;
      width: 100%;
      justify-content: center;
      transform: scale(.9);
      margin: auto;
  }
  .phone::after{
      position: absolute;
      top: 1px;
      right: -5px;
      content: "";
      height: 26px;
      width: 2px;
      background-color: #043148;
      border-radius: 2px;
  }
  #social{
      position: relative;
      width: 28px;
      height: 28px;
  }
  
  #social img{
      width: 100%;
  }
  
  #social i{
      display: grid;
      place-content: center;
      color: black;
      text-decoration: none;
  }
  .web img{
      position: relative;
      top: -1px;
      left: -2px;
      transform: scale(1.15);
  }
  
  .mail img{
      position: relative;
      top: -2px;
      left: -5px;
      padding: 5px;
      transform: scale(.95);
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.238);
  }
  
  
  @media screen and (max-width:821px) {
      body{
          overflow-y: scroll;
          background:#0a5889;
          margin: 0;
          margin: 0;
      }
      .formcontainer{
          position: absolute;
          top: 0;
          box-shadow: none;
          max-width: 100vw;
      }
      .formcontainer .left, .formcontainer form{
          width: 100vw;
          position: relative;
      }
      .formcontainer .left{
          border: none;
          padding: 0;
          /* background: linear-gradient(to bottom, #146698 40px,#4db3f3); */
          background: none;
      }
  
      .description img{
          top: 0;
          width: 100%;
      }
      .form-cont{
          top: 110px;
      }
      .formcontainer form{
          transform-origin: top;
          transform: rotateX(0deg);
          animation: form .2s ease-in-out 1s 1 forwards;
          border: none;
          padding: 0;
      }
  
      @keyframes form {
          100%{
              transform: rotateX(0deg); 
          }
      }
  
      form::before{
          top: -58px;
          left: calc(50% - 47.5vw);
          width: 92vw;
          height: 60px;
      }
      form::after{
          left: calc(50% - 47.5vw);
          width: 92vw;
          height: 97%;
          top: -60px;
          border: 0px solid;
          box-shadow: 0 0 20px #419fda7c;
      }
  
      form h1.title{
          position: relative;
          top: -40px;
      }
      form .info{
          top: -20px;
      }
  
  
      .formcontainer .passHelp{
          left: calc(50% - 47.5vw);
          width: 92vw;
          top: 502px;
          height: 436px;
      }
      .formcontainer .passHelp img{
          width: 40%;
      }
  
  
      p.error{
          left: calc(50% - 100.49px);
          bottom: 142px;
      }
      .social{
          left: calc(52% - 80.5px);
      }
      form button{
          top: -35px;
      }
  
      .in-photo::after{
          position: absolute;
          content: "";
          color: #009dff67;
      }
      form .in-photo{
          position: relative;
          top: 155px;
      }
      input[type="file"]{
          top: -47px;
      }
  
  
      /* TOP CONTAINER DESIGNING */
  
  
      .hologram{
          width: 100%;
          left: 0;
          top: 40vw;
          /* height: 300px; */
      }
      .hologram::before{
          color: white;
          border-top: 30px solid white;
          border-left: 20px solid ;
      }
      .hologram::after{
          display: none;
      }
  
      /* titel */
      h1#printer{
          font-size: 40px;
          left: calc(50% - 120px);
      }
  
      .para{
          width: 90%;
          text-align: center;
          margin: 0;
      }
      .partener{
          font-size: 25px;
          margin-bottom: 7px;
      }
      
      .create-badge{
          position: relative;
          display: flex;
          justify-content: center;
          height: 50px;
          width: 100%;
          margin: 0;
          border-radius: 0;
          box-shadow: none;
          background: none;
      }
  
      .services{
          position: relative;
          top: 0px;
          right: 0;
          padding: 0;
          width: fit-content;
          box-shadow:  -2px -2px 10px rgba(255, 255, 255, 0.419), 2px 2px 10px black; 
      }
      .create-badge span{
          display: grid;
          place-content: center;
          width: 300px;
          font-size: 15px;
          background-color: #005a93;
          border-radius: 5px;
          color: #ffffffd5;
          box-shadow:  -2px -2px 10px rgba(255, 255, 255, 0.419), 2px 2px 10px black; 
      }
  
      @media screen and (max-width:660px) {
          .hologram{
              padding-top: 25px;
          }
      }
  
      @media screen and (max-width: 569px) {
          .hologram{
              padding-top: 0;
          }
          .partener{
              font-size: 26px;
          }
          .services{
              box-shadow: none;
          }
          .create-badge{
              width: 100%;
              gap: 10px;
              align-items: center;
              flex-direction: column;
              justify-content: center;
          }
          .create-badge span{
              top: 60px;
              position: absolute;
              height: 50px;
          }
  
          .form-cont{
              top: 85px;
          }
          .formcontainer .passHelp{
              top: 477px;
          }
      }
  
  }
  
  @media screen and (max-width:480px) {
      body{
          padding: 0;
          margin: 0;
      }
  
      .download{
          box-shadow: none;
      }
      .formcontainer{
          position: absolute;
          top: 0;
      }
      .formcontainer .left, .formcontainer form{
          position: relative;
          width: 99vw;
          min-width: 320px;
      }
      .formcontainer .left{
          min-height: 300px;
      }
      form::before{
          top: -50px;
          left: calc(50% - 45.5vw);
          width: 89vw;
          height: 60px;
          border-radius: 10px 10px 0 0;
      }
      form::after{
          left: calc(50% - 45.5vw);
          width: 89vw;
          height: 89%;
          top: -60px;
          border-radius: 10px;
      }
      
      .formcontainer .passHelp{
          position: fixed;
          top: calc(100% - 500px);
          bottom: 46px;
          width: 89vw;
          left: calc(52.5% - 45.5vw);
          height: 440px;
          border-radius: 10px;
          background: linear-gradient(#00334d, #1297ea);
      }
      .formcontainer .passHelp img{
          border-radius: 10px;
          width: 60%;
      }
      p.intro{
          background: #1297ea;
      }
      h1#printer{
          top: 30px;
          font-size: 27px;
          left: 11px;
      }
      .form-cont{
          top: calc( 50px - 10vw);
          border-radius: 20px 20px 0 0 ;
          width: 95%;
      }
      .hologram{
          display: grid;
          place-content: center;
          height: 200px;
      }
      .hologram::before{
          border-top: 30px solid white;border-left: 40px solid white;
      }
  
      .hologram .para{
          display: none;
      }
      .partener{
          font-size: 13px;
          margin: 0;
          text-shadow: none;
      }
  
      .partener::after{
          content: " de:";
      }
      .services{
          box-shadow: none;
      }
      .services span{
          height: 100px;
      }
      p.error{
          bottom: 166px;
      }
      form button{
          width: 65px;
          height: 65px;
          border-radius: 50%;
          left: calc(50% - 35px);
          box-shadow: 0px 0px 18px #009dff ;
      }
     
  
      label[for="btn"]{
          position: absolute;
          bottom: 79px;
          left: calc(50% - 35px);
          display: grid;
          place-content: center;
          height: 70px;
          width: 70px;
          border-radius: 50%;
          background: #146698 linear-gradient( #146698,#4db3f3);
          color: white;
          outline: 9px solid white;
          border-top: 5px solid white;
          z-index: 1000;
      }
      label[for="btn"]::after{
          position: absolute;
          left: 70px;
          top: 10px;
          content: "";
          width: 30px;
          height: 30px;
          background-color: rgb(255, 255, 255);
  
      }
      label[for="btn"]::before{
          position: absolute;
          left: -35px;
          top: 10px;
          content: "";
          width: 30px;
          height: 30px;
          background-color: rgb(255, 255, 255);
      }
  
      .in-photo::after{
          position: absolute;
          content: "";
          left: -10px;
          bottom: 175px;
          height: 45px;
          width: 260px;
          box-shadow: 0 0 5px ;
          border-radius: 5px;
          color: #009dff67;
      }
      form .hider{
          bottom: 192px;
          left: calc(50% - 100px);
          height:40px ;
      }
  
      form .title, form .info{
          top: -30px;
      }
  
      form label[for="image"]{
          top: -180px;
      }
      form label[for="image"], form .img-info {
          bottom: 180px;
      }
      form input[type="file"]{
          position: relative;
          top: -66px;
      }
      .social{
          bottom: 15px;
          transform: scale(1.1);
      }
  
      form h1.title{
          position: relative;
          top: -40px;
      }
  
  
      @media screen and (max-width:355px) {
          .create-badge{
              transform: scale(.8);
          }
          
          .hologram{
              padding-top: 10px;
          }
  
          p.para{
              padding: 0 0 0 0;
              font-size: 13px;
              width: 7 0%;
              text-align: center;
          }
      }
  }
  